@import "tailwindcss";

@theme {
    --color-brand-blue: #0ea5e9;
    /* Sky 500 equivalent approx, will refine */
    --font-sans: 'Inter', system-ui, sans-serif;
}

body {
    background-color: #0f172a;
    /* Slate 900 */
    color: white;
    font-family: var(--font-sans);
}